@font-face {
  font-family: 'Aeroport';
  src: url("assets/fonts/Aeroport-Regular.woff2");
  font-weight: normal;
}

@font-face {
  font-family: 'Aeroport';
  src: url("assets/fonts/Aeroport-Medium.woff2");
  font-weight: 500;
}

@font-face {
  font-family: 'Aeroport';
  src: url("assets/fonts/Aeroport-Bold.woff2");
  font-weight: bold;
}
