$primary-font: 'Aeroport', sans-serif;

$breakpoint-lg: 1160px;
$breakpoint-md: 768px;
$breakpoint-sm: 600px;

$primary-color: #65bcff;
$black-color: #000000;
$white-color: #FFFFFF;
$grey-color: #404040;
$blue-color: #78a8ef;
$blue-dark-color: #3d7ef6